@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body{
    overflow: hidden;
    max-width: 100%;
    padding : 0px;
    margin: 0px;
    min-height: 100%;
    box-shadow:inset 0 0 0 2000px rgba(35, 36, 36, 0.938);
    background-image: url('https://miro.medium.com/max/2400/0*nkMHIYllnotYcos_');
    color: aliceblue;
    font-family: 'Poppins', sans-serif;
}

.title{
    padding-top: 70px;
    width: 100%;
    text-align: center;
}

.title h1{
    font-size: 50px;
    font-weight: bolder;
}

.title h3{
    font-size: 25px;
    margin-top: -55px;
    font-weight: 200;
}

form{
    margin:auto;
    background-color: #313131;
    width: 400px;
    height: auto;
    padding: 60px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

#username{
    margin-top: 0px !important;
}

form input{
    width: 100%;
    margin-top: 60px;
    height: 50px;
    background: none;
    border: 1px solid #464646;
    padding: 10px;
    color: white;
    border-radius: 5px;
}

#username:hover , #password:hover{
    border : 1px solid white;
    transition: .5s all ease;
}

#butoni{
    color: white;
    background-color:#dc143c;
    cursor: pointer;
    transition: .5s all ease;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
    border: none;

}

#butoni:hover{
    color: #dc143c;
    background: none !important;
    border: 1px solid #dc143c;
    transition: .5s all ease;
}

#username:focus, #password:focus{
    border: 1px solid white;
}


.forma{
    width: 100%;
    align-content: center;
}